body{
    background-color: rgb(127, 224, 224);
}
img{
    width: 30px;
}
#div{
    text-align: center;
    width: 18%;
    margin-left: 100px;
    float: left;
    margin-top: 30px;
    padding-right: 13px;
    border-right-width: 4px;
    border-right-style: solid;
    border-right-color: purple;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#div1{
    width: 70%;
    text-align: left;
    float: left;
    margin-top: 30px;
    padding-left: 13px;
}
#name{
    width: 70%;
    height: 30px;
    border-radius: 30px;
    margin-left: 25px;
}
.cont{
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
}
#email{
    width: 70%;
    height: 30px;
    border-radius: 30px;
    margin-left: 25px;
}
#message{
    width: 70%;
    height: 80px;
    border-radius: 30px;
    margin-left: 10px;
}
#orig{
    width: 88%;
    background-color: white;
    border-radius: 50px;
    height: 510px;
    margin-top: 65px;
    color: rgba(48, 39, 34, 255);
    margin-left: 90px;
}
input:hover{
    transform: scale(1.01);
    transition: .9s;
}
h1{
    color: purple;
}
#info{
    width: 83%;
}
#email1{
    font-size: 15px;
}
select{
    border-radius: 10px;
}
.sub{
    margin-left: 10px;
    width: 70px;
    border-radius: 10px;
    height: 25px;
}
.sub:hover{
    background-color: purple;
    color: white;
    transform: scale(1.1);
    transition: .8s;
}